@import '../abstracts/_functions.scss';
@import '../base/_animations.scss';

.header {
  height: 95vh;
  background-image: 
    linear-gradient(
      to right bottom, 
      rgba(color(primary-light), .8), 
      rgba(color(primary-dark), .8) 
    ), 
    url('/images/hero.jpg');
  background-size: cover;
  background-position: top;
  position: relative;

  /* clockwise */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo { 
    height: 3.5rem;
    animation: fade-in 0.5s;
  }
}


/* HERO STYLES */ 
.cta-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; /* again, fixes text shake */
  margin-bottom: 3rem;

  &--top, &--bottom { display: block }
  &--top {
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation: move-in-right 0.5s;
  }
  &--bottom {
    font-size: 2rem;
    letter-spacing: 1.75rem;
    font-weight: 700;
    animation: move-in-left 0.5s;
  }
}
